* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(12, 27, 41);
    color:  rgb(167, 188, 255);
    font-size: 18px;
    font-weight: 500;
}

.title{
    font-size: 30px;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    color: azure;
    border: 2px solid rgb(92, 250, 203);
    padding: 10px;
    text-align: center;
}

.header {
border: 2px solid rgb(196, 196, 196);
font-size: 24px;
display: flex;
justify-content: center;
padding: 10px;
}

.container {
    display: flex;
}

.instructions {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-between;

}

video {
    display: block;
    margin: auto;
    padding: 10px;
}

a {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}